.detailWrapper {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailContent {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informWrapper {
  width: 100%;
  height: 250px;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.shoeImg {
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.informs {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.shoeName {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.brandWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.brandLabel {
  margin: 0;
  padding: 0;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: "Quicksand", sans-serif;
}

.brand {
  margin: 0;
  padding: 0;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: "Quicksand", sans-serif;
}

.informTexts {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.informText {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: "Quicksand", sans-serif;
}

.likeWrapper {
  width: 100%;
  margin: auto 0 5px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.likeLabel {
  margin: 0;
  padding: 0;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: "Quicksand", sans-serif;
}

.like {
  margin: 0;
  padding: 0;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: "Quicksand", sans-serif;
}

.likeBtn {
  width: 120px;
  height: 40px;
  margin: 0 0 0 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

.activelikeBtn {
  width: 120px;
  height: 40px;
  margin: 0 0 0 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: black;
}

.reviewWrapper {
  width: 80%;
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewTitle {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  /* border-top: 0.5px solid black; */
  border-bottom: 0.5px solid black;
}

.reviewInputWrapper {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviewInputBox {
  width: 60%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewInput {
  width: 85%;
  height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
}

.inputLen {
  font-size: medium;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.reviewBtn {
  width: 120px;
  height: 40px;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: black;
}

.reviewsWrapper {
  width: 100%;
  max-height: 400px;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.reviewDiv {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: medium;
  font-family: "Quicksand", sans-serif;
  border-bottom: 0.5px solid black;
}
